<h1>Visits#index</h1>
<table>
  <tr>
    <td>Visit #</td>
    <td>Divers</td>
  </tr>
  <% @visits.each do |visit| %>
    <tr>
      <td><%= visit.id %></td>
      <td><%= visit.divers.map {|diver| diver.full_name }.join(", ")%></td>
    </tr>
  <% end %>
</table>
