<h1>Animals#index</h1>
<table>
  <tr>
    <td>Common Name</td>
    <td>Scientific Name</td>
  </tr>
  <% @animals.each do |animal| %>
    <tr>
      <td> <%= animal.common_name %></td>
      <td> <%= animal.scientific_name %></td>
    </tr>
  <% end %>
<table>
