// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.one_hundred_flag {
  background: pink;
}

.one_hundred_ok_flag {
  background: #669966;
}

#selected_species {
  float:right;
  margin: 0 10% 0 0;
}
